<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Doctor Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a (click)="onOpenModal(addedPhone, 'add')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit">add phone<i class="fa fa-pencil"></i> </a>   
         </li>
     </ul>
  </div>
</nav>
<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let p of phones" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6">
              <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
           </div>
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{p?.id}}</h5>
              <p class="m-0">{{p?.valid}}</p>
           </div>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{p?.intI_format}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{p?.country_code}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{p?.country_name}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{p?.location}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{p?.carrier}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{p?.line_type}}</li>




        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
  
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Add Phone</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddPhone(addForm)">
          <div class="form-group">
             <label for="local_format">Phone Number</label>
             <input type="text" ngModel #phone="ngModel" name="local_format"  class="form-control" id="local_format" placeholder="local_format" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>
 